body{
    background: lightblue;
    font-size: 50px;
    text-align: center;
}
    
h1{
    font-size:100px; 
}
h2{
    background: green;
   font-size:80px; 
}
h3{
    background: green;
   font-size:80px; 
}
